.my-header-player-card {
  font-weight: bold;
}

.header-posiciones {
  font-style: italic;
  font-size: small;
}

.list-posiciones {
  font-size: small;
}
.my-button {
  position: absolute;
  bottom: 20%;
}

.custom-circle-image img {
  object-fit: cover;
}

.header:hover {
  font-weight: bolder;
}
