.my-header-list-group-item {
  font-weight: bold;
}

.my-score {
  font-weight: bold;
  font-size: x-large;
  vertical-align: middle;
  position: absolute;
  bottom: 25%;
}

.vertical-center {
  vertical-align: middle;
}

.my-series-name {
  font-size: small;
  font-style: italic;
  text-align: right;
}

.my-link {
  text-align: right;
}
